{% load staticfiles %}

<html>
<head>
	
	<meta charset="utf-8">
	<meta content="width= device-width, initial-scale = 1, maximum-scale=1" name="viewport">
	<title>Meu primeiro app em Django</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css'%}">
	<link rel="stylesheet"  href="{% static 'css/styles.css'%}">

	
</head>
<body>
<div class="container">
	
	
	<nav class="collapse navbar-collapse">
		
		<ul class="nav nav-pills">
			{% for post in posts%}
			<li class="navbar-nav"> <a href=blog/{{post.slug}} class="btn btn-default btn-menu">
			
			{{ post.title }} </a> </li>
		{%endfor%}	
		</ul>
		
	</nav>	
			
	
				
			

<div>
	
	{%block div%} 	{%endblock div%}

	{%block index%} 	{%endblock index%}
	<div id="post"> 
	{%block post%}

	{%endblock post%}
	</div>
	<div id="post_detail">
		{% block post_detail %}
		{% endblock post_detail %}

		{% block post_edit%}  {% endblock post_edit%}
	</div>
	</div>
	<footer>Rodapé</footer>
	
</body>
</html>