{% load staticfiles %}
<html>
<head>
	
	<meta charset="utf-8">
	<meta content="width= device-width, initial-scale = 1, maximum-scale=1" name="viewport">
	<title>Meu primeiro app em Django</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

	
</head>
<body>
	<div class="container">
	<nav>
	<h1>Menu</h1>
	<ul>
		<li><a href="{% url 'ola_mundo' %}"class="top-menu">Olá Mundo</a></li>
		<li><a href="{% url 'data_hora' %}"class="top-menu">Acessar Hora e Data</a></li>
		<li><a href="{%url 'status_code'%}" class="top-menu">Estatus da pagina</a></li>
		<li><a href="{%url 'perfil' %}">Perfil</a></li>
		<li><a href="{% url 'app2.views.post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span> Adicionar Post</a></li>
	</ul>
</nav>
	
	{%block div%} 	{%endblock div%}

	{%block conteudo%} 	{%endblock conteudo%}
	<div id="post"> 
	{%block post%}

	{%endblock post%}
	</div>
	<div id="post_detail">
		{% block post_detail %}
		{% endblock post_detail %}

		{% block post_edit%}  {% endblock post_edit%}
	</div>
	</div>
	<footer>Rodapé</footer>
	
</body>
</html>