
{% extends 'app2/base.html'%}
{%block links%}
<nav>
	<h1>Links para app1</h1>
	<nav>
		<ul class="nav nav-pills">
			<li><a class="btn btn-default" href="{% url 'ola_mundo' %}">Olá Mundo</a></li>
			<li><a class="btn btn-default" href="{% url 'data_hora' %}">Acessar Hora e Data</a></li>
			<li><a class="btn btn-default" href="{%url 'status_code'%}">Status da pagina</a></li>

		</ul>
	</nav>
</nav>
<hr>
{% endblock links%}

{%block div%}
<h3>Perfil</h3>
{% for perfil in perfis%}
<table class="table table-hover">
<tr>
	<td> Nome:</td>
	<td>{{perfil.nome}}</td>

</tr>
<tr>
	<td> Sobre nome:</td>
	<td>{{perfil.sobre_nome}}</td>
</tr>
	<tr>
		<td>Genero:</td>
		<td>{{perfil.genero}}</td>
	</tr>
<tr>
	<td>Pagina Facebook</td>
	<td> {{perfil.facebook}}  </td>
</tr>

	
</table>
{%endfor%}
<div>



</div>
{%endblock div%}
