
{% extends 'app2/base.html'%}
{%block links%}
<nav>
	<h1>Links para app1</h1>
	<ul>
		<li><a href="{% url 'ola_mundo' %}">Olá Mundo</a></li>
		<li><a href="{% url 'data_hora' %}">Acessar Hora e Data</a></li>
		<li><a href="{%url 'status_code'%}">Estatus da pagina</a></li>

	</ul>
</nav>
{% endblock links%}

{%block div%}
{% for perfil in perfis%}
<table>
<tr>
	<td>{{perfil.nome}}</td>
	<td>{{perfil.sobre_nome}}</td>
</tr>
<tr>
	<td>{{perfil.genero}}</td>
	<td>{{perfil.facebook}}</td>
</tr>

	
</table>
{%endfor%}
<div>
	<p> Olá {{perfil.name}}</p>


</div>
{%endblock div%}
